<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Express + Handlebars</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="./style.css" />
</head>

<body>
  {{> partial-2}}
  {{!-- Body Here --}}
  {{{body}}}
  {{> partial-1}}
</body>

</html>