<div class="hero-full">
    <h1>Express + Handlebars Scaffold!</h1>
<p>BrowserSync hot reload running on Port {{port.dev}}.</p>
<p>Local server running on port {{port.server}}.</p>
<a class="waves-effect waves-light btn lime" style="color: black;">button</a>
</div>
