<div class="content">
    <div class="container">
        WELCOME TO
    <h1>Express + Handlebars</h1>
<p>BrowserSync hot reload running on Port {{port.dev}}. <br>Local server running on port {{port.server}}.</p>
<a class="waves-effect waves-light btn blue deep-orange darken-1" href="new">button</a>
</div>
</div>