/* Import Libraries */
@import '../node_modules/materialize-css/dist/css/materialize.min.css';

/* Global Theme Styles Here */

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.content {
    min-height: 70vh;
    padding-top: 10rem;
}